<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cermati_Ebay">
  <test thread-count="5" name="Test">
    <classes>
      <class name="ebayassignment.Scenario2"/>
      <class name="ebayassignment.Scenario1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Cermati_Ebay -->
